/* CSS FILE */
body{

}

.header{
	width: 1300px;
	height: 212px;
	background-color: #3b7cc8;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);	
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

nav{
	background-color: #2c4665;
	width: 960px;
	height: 60px;
	border-radius: 4px;
	text-align: center;
	position:absolute; 
	left:170px; 
	top:152px;
	z-index: 1;
}
ul{

	list-style-type: none;
  	margin: 0;
  	padding: 0;
	width: 960px;
	height: 60px;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	margin-left: 140px;
	position: relative;
	
}
li{

	float: left;
	background-color: #2c4665;
	padding: 10px;
	border-right:1px solid #002060; 
	margin-left: 5px;
	border-width: 1px;
	border-height: 35px;
	
}
	
li a{
	
	width: 754px;
	height: 13px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 35px;
	text-decoration-line: none;
	padding-right: 13px;
	padding-left: 13px;

}
li:last-child {
  border-right: none;
}

#logo {
	
	width: 169px;
	height: 168px;
	background: url("assets/Layer_35.png");
	position: absolute;
	top:21px;
	left: 175px;
	background-repeat: no-repeat;
	z-index:3;
}
#header-U{
	width: 40px;
	height: 45px;
	background: url("assets/Layer34.png");
	position: absolute;
	top:56px;
	left: 348px;
}
#header-University{
	width: 555px;
	height: 32px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	font-family: 'Varela Round', sans-serif;
	color: #ffffff;
	font-size: 41px;
	font-weight: 400;
	line-height: 38px;
	position:absolute;
	top: 64px;
	left: 388px;
	z-index: 1;
}
#header-elementary{
	width: 198px;
	height: 20px;
	font-family: 'Varela Round', sans-serif;
	color: #ffffff;
	font-size: 26px;
	font-weight: 400;
	line-height: 41px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 105px;
	left: 546px;
	z-index: 1;
}
#header-line{
	width: 215px;
	height: 33px;
	font-family: 'Roboto', sans-serif;
	color: #e3b22d;
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
	
	background-image: url("assets/line0.png");
	position: absolute;
	top: 17px;
	left: 312px;
}
#header-direction{
	width: 12px;
	height: 13px;
	background-image: url("assets/Layer11.png");
	position: absolute;
	top: 29px;
	left: 532px;
}
#header-batonrouge{
	width: 170px;
	height: 15px;
	font-family: TradeGothicLH;
	color: #002060;
	font-size: 18px;
	font-weight: 700;
	line-height: 41px;
	background-image: url("assets/BatonRouge.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 28px;
	left: 561px;
}
#header-facebook{
	width: 32px;
	height: 32px;
	background-image: url("assets/facebook logo.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 11px;
	left: 835px;
	z-index: 2;
	
}
#header-facebook1{
	width: 32px;
	height: 32px;
	border-radius: 3px;
	background-color: #2c4665;
	position: absolute;
	top: 7px;
	left: 823px;
	z-index: 1;
}
#header-twitter{
	width: 23px;
	height: 19px;
	background-image: url("assets/logo.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 14px;
	left: 870px;
	z-index: 2;
}
#header-twitter1{
	width: 32px;
	height: 32px;
	border-radius: 3px;
	background-color: #2c4665;
	position: absolute;
	top: 7px;
	left: 864px;
	z-index: 1;
}
#header-linkedin{
	width: 19px;
	height: 19px;
	background-image: url("assets/linkedin logo.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 13px;
	left: 912px;
	z-index: 2;
}
#header-linkedin1{
	width: 32px;
	height: 32px;
	border-radius: 3px;
	background-color: #2c4665;
	position: absolute;
	top: 7px;
	left: 906px;
	z-index: 1;
}

#header-register1{
	width: 168px;
	height: 101px;
	border-radius: 55%;
	background-color: #e3b22d;
	background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
	background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
	background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
	background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
	background-image: url("assets/Ellipse_3.png");
	position: absolute;
	top: 0px;
	left: 958px;
	z-index: 1;
}
#header-register-text{
	width: 67px;
	height: 35px;
	font-family: 'Varela Round', sans-serif;
	color: #363636;
	font-size: 17px;
	font-weight: 400;
	line-height: 21px;
	position: absolute;
	top: 51px;
	left: 1008px;
	text-align: center;
	z-index: 2;
}
#header-search{
	width: 182px;
	height: 43px;
	border-radius: 4px;
	z-index: 3;
	position: absolute;
	top: 0px;
	left: 948px;
	background: url("assets/Rounded_Rectangle_1.png")
}
#header-search1{
	width: 20px;
	height: 20px;
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	top: 7px;
	left: 1093px;
	background-image: url("assets/Ellipse_1.png");
	z-index: 3;
}
#header-search2{
	width: 11px;
	height: 11px;

	background-image: url("assets/Rounded_Rectangle_2.png");
	position: absolute;
	top: 20px;
	left: 1108px;
	z-index: 3;
}
#header-search-text{
	width: 49px;
	height: 12px;
	font-family: 'Roboto', sans-serif;
	color: #363636;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;
	position: absolute;
	top: 5px;
	left: 969px;
	text-align: center;
	z-index: 4;
}
#header-bglogo{
	width: 398px;
	height: 212px;
	background-image: url("assets/Layer21.png");
	position: absolute;
	left: 692px;
	top: 0px;
	background-repeat: no-repeat;
	z-index: 0;
}
#content{
width: 1300px;
	height: 1405px;
	background-color: #abc6e4;	
	z-index: 1;
	
}
#content-img{
	width: 960px;
	height: 470px;
	position: absolute;
	top: 210px;
	left: 170px;
	background-image: url("assets/Layer39.png");
	 background-size: cover;
	z-index: 2;
}
#content-text-box{
width: 960px;
	height: 58px;
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	top: 622px;
	left: 170px;
	z-index: 2;
}
#content-text{
	
	position: absolute;
	top: 643px;
	left: 196px;
	text-align: center;
	width: 904px;
	height: 16px;
	font-family: 'Roboto', sans-serif;
	color: #2c4665;
	font-size: 20px;
	font-weight: 400;
	line-height: 21px;
	z-index: 3;
}
#event-content-box{
	width: 960px;
	height: 1291px;
	background-color: #f6f5f5;
	position: absolute;
	left: 170px;
	z-index: 0;
	top: 0;
}
.events-main{
 display: grid;
 grid-template-columns: auto auto auto auto;
 z-index: 2;
	
	background-color: #f6f5f5;
	top: 709px;
}
#events-events{
	width: 219px;
	height: 460px;
	border-radius: 4px;
	background-color: #ffffff;
	position: absolute;
	left: 191px;
	top: 709px;
	z-index: 2;
}
#events-events-icon{
	width: 35px;
	height: 34px;
	background-image: url("assets/Layer_29.png");
	position: absolute;
	left: 32px;
	top: 17px;
	
	
}
#events-events-text{
	width: 107px;
	height: 20px;
	font-family: 'Varela Round', sans-serif;
	color: #002060;
	font-size: 26px;
	font-weight: 400;
	line-height: 35px;
	position: absolute;
	left: 80px;
	top: 26px;
	background-image: url("assets/Events.png");
	
}
#events-events-line{
	width: 182px;
	height: 1px;
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 142, 208, 0.5);
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
	position: absolute;
	left: 18px;
	top: 60px;
	background-image: url("assets/line.png");
}
#events-events-insidetext{
	width: 173px;
	height: 336px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #545454;
	position: absolute;
	left: 24px;
	top: 87px;
}
#events-events-insidetext a{
	color: #3b7cc8;
	text-decoration: none;
}
#events-news-insidetext a{
	
	color: #3b7cc8;
	text-decoration: none;

}
#events-news{
	width: 510px;
	height: 459px;
	border-radius: 4px;
	background-color: #ffffff;
	position: absolute;
	left: 430px;
	top: 709px;
	z-index: 2;

}
#events-news-icon{
	width: 37px;
	height: 31px;
	background-image: url("assets/Layer_30.png");
	position: absolute;
	left: 37px;
	top: 20px;
	
	
}
#events-news-text{
	width: 379px;
	height: 20px;
	font-family: 'Varela Round', sans-serif;
	color: #2c4665;
	font-size: 26px;
	font-weight: 400;
	line-height: 35px;
	position: absolute;
	left: 80px;
	top: 26px;
	background-image: url("assets/News & Announcements.png");
	
}
#events-news-line{
	width: 470px;
	height: 1px;
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 142, 208, 0.5);
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
	position: absolute;
	left: 18px;
	top: 60px;
	background-image: url("assets/line2.png");
}
#events-news-insidetext{
	width: 463px;
	height: 339px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #545454;
	position: absolute;
	left: 26px;
	top: 86px;
}
#parent{
	width: 100px;
	height: 74px;
	position: absolute;
	left: 1px;
	top: 180px;
	background-image: url("assets/Layer 7.png");

}
#parent-surveys{
	position: absolute;
	left: 102px;
	top: 180px;
}

#events-information-Enroll{
	width: 151px;
	height: 142px;
	border-radius: 4px;
	background-color: #2c4665;

	position: absolute;
	left: 959px;
	top: 709px;
	z-index: 2;
}
#events-information-Enroll-img{
	width: 126px;
	height: 142px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 3;
	background-image: url("assets/Vector_Smart_Object_copy_2.png")
}
#events-information-Enroll-textimg{
	width: 105px;
	height: 86px;
	font-family: 'Varela Round', sans-serif;
	color: #ffffff;
	font-weight: 400;
	text-shadow: 0px 1px 1px rgba(24, 24, 24, 0.4);
	font-size: 28px;
	line-height: 24px;
	position: absolute;
	left: 14px;
	top: 17px;
	z-index: 4;
	background-image: url("assets/Enroll_Now_enrolling_kindergarten_students.png")
}
#events-information-Enroll-img1{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(0, 130, 155, 0.5);
	position: absolute;
	left: 110px;
	top: 99px;
	z-index: 4;
	background-image: url("assets/Ellipse 4 copy.png");
}
#events-information-Enroll-img2{
	width: 17px;
	height: 18px;
	position: absolute;
	left: 117px;
	top: 105px;
	z-index: 5;
	background-image: url("assets/Layer_3.png");
}
#events-showall{
	
	width: 113px;
	height: 113px;
	border-radius: 50%;
	background-color: #00829b;
	background-image: url("assets/Ellipse 4 copy.png");
	position: absolute;
	left: 285px;
	top: 1106px;
	
}#events-showall1{
	width: 65px;
	height: 11px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	position: absolute;
	left: 309px;
	top: 1182px;
	
}
#events-news-showall{
	
	width: 113px;
	height: 113px;
	border-radius: 50%;
	background-color: #00829b;
	background-image: url("assets/Ellipse 4 copy.png");
	position: absolute;
	left: 814px;
	top: 1106px;
	
}#events-news-showall1{
	width: 65px;
	height: 11px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	position: absolute;
	left: 838px;
	top: 1182px;
	
}
#events-information-join{
	width: 151px;
	height: 142px;
	border-radius: 4px;
	background-color: #2c4665;

	position: absolute;
	left: 959px;
	top: 867px;
	z-index: 2;
}

#events-information-join-img{
	width: 53px;
	height: 135px;
	position: absolute;
	left: 0px;
	top: 7px;
	z-index: 3;
	background-image: url("assets/Vector_Smart_Object_copy_2.png")
}
#events-information-join-textimg{
	width: 112px;
	height: 104px;
	font-family: 'Varela Round', sans-serif;
	color: #ffffff;
	font-weight: 400;
	text-shadow: 0px 1px 1px rgba(24, 24, 24, 0.4);
	font-size: 28px;
	line-height: 24px;
	position: absolute;
	left: 13px;
	top: 17px;
	z-index: 4;
	background-image: url("assets/Join_Now_hiring_mission-driven_staff_members.png")
}
#events-information-join-img1{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(0, 130, 155, 0.5);
	position: absolute;
	left: 110px;
	top: 99px;
	z-index: 4;
	background-image: url("assets/Ellipse 4 copy.png");
}
#events-information-join-img2{
	width: 17px;
	height: 18px;
	position: absolute;
	left: 117px;
	top: 105px;
	z-index: 5;
	background-image: url("assets/Layer_3.png");
}
#events-information-support{
	width: 151px;
	height: 142px;
	border-radius: 4px;
	background-color: #2c4665;

	position: absolute;
	left: 959px;
	top: 1026px;
	z-index: 2;
}
#events-information-support-img{
	width: 53px;
	height: 135px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 3;
	
}
#events-information-support-textimg{
	width: 112px;
	height: 104px;
	font-family: 'Varela Round', sans-serif;
	color: #ffffff;
	font-weight: 400;
	text-shadow: 0px 1px 1px rgba(24, 24, 24, 0.4);
	font-size: 28px;
	line-height: 24px;
	position: absolute;
	left: 13px;
	top: 17px;
	z-index: 4;
	background-image: url("assets/Support Donate now and support our mission.png");
	background-repeat: no-repeat;
}
#events-information-support-img1{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(0, 130, 155, 0.5);
	position: absolute;
	left: 110px;
	top: 99px;
	z-index: 4;
	background-image: url("assets/Ellipse 4 copy.png");
}
#events-information-support-img2{
	width: 17px;
	height: 18px;
	position: absolute;
	left: 117px;
	top: 105px;
	z-index: 5;
	background-image: url("assets/Layer_3.png");
}

#footer{
	width: 1300px;
	height: 125px;
	background-color: #3b7dc8;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 0px;
	top: 1235px;
}
#footer-social{
	width: 1300px;
	height: 51px;
	background-color: #2c4665;
	position: absolute;
	left: 0px;
	top: 119px;
	background-image: url("assets/Rectangle 6 copy 2.png");
}
#footer-logo{
	width: 100px;
	height: 100px;
	
	position: absolute;
	left: 181px;
	top: 13px;
	background-image: url("assets/logo2.png");
	
}
#footer-logo1{
	width: 170px;
	height: 15px;
	font-family: TradeGothicLH;
	color: #002060;
	font-size: 26.32px;
	font-weight: 700;
	line-height: 47px;
	transform: scale(0.532,0.532);
	position: absolute;
	left: 250px;
	top: 18px;
	background-image: url("assets/Baton Rouge 2.png");
}
#footer-logo-text0{
	width: 21px;
	height: 22px;
	
	position: absolute;
	left: 284px;
	top: 33px;
	background-image: url("assets/Layer 34 copy.png");
}
#footer-logo-text{
	width: 168px;
	height: 70px;
	font-family: 'Varela Round', sans-serif;
	color: #ffffff;
	font-weight: 400;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	font-size: 24px;
	line-height: 21px;
	position: absolute;
	left: 289px;
	top: 38px;
	background-image: url("assets/niversity Preparatory Elementary.png");
	background-repeat: no-repeat;
}
#footer-logo-line{
	width: 215px;
	height: 69px;
	font-family: 'Roboto', sans-serif;
	color: rgba(227, 178, 45, 0.9);
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
	position: absolute;
	left: 428px;
	top: 32px;
	background-image: url("assets/footer_line.png");
}
#footer-logo-line1{
	width: 12px;
	height: 13px;
	position: absolute;
	left: 650px;
	top: 33px;
	background-image: url("assets/Layer11.png");
}

#footer-logo-text1{
	width: 460px;
	height: 27px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-size: 27px;
	font-weight: 300;
	font-style: italic;
	line-height: 24px;
	position: absolute;
	left: 668px;
	top: 29px;
	background-image: url("assets/thecollage.png");
}
#footer-logo-text2{
	width: 461px;
	height: 14px;
	font-family: 'Roboto', sans-serif;
	color: #b4daeb;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	position: absolute;
	left: 668px;
	top: 72px;
	background-image: url("assets/footercol.png");
}
#footer-logo-facebook{
	width: 32px;
	height: 32px;
	border-radius: 3px;
	background-color: rgba(0, 121, 176, 0.5);
	position: absolute;
	left: 1014px;
	top: 8px;
	z-index: 3;
}
#footer-logo-facebook1{
	width: 13px;
	height: 24px;
	position: absolute;
	left: 1026px;
	top: 12px;
	background-image: url("assets/facebook logo 2.png");
	z-index: 5;
}
#footer-logo-linkedin{
	width: 32px;
	height: 32px;
	border-radius: 3px;
	background-color: #16608b;
	position: absolute;
	left: 1098px;
	top: 8px;
	z-index: 3;
}
#footer-logo-linkedin1{
	width: 19px;
	height: 19px;
	position: absolute;
	left: 1104px;
	top: 14px;
	background-image: url("assets/linkedin logo.png");
	z-index: 5;
}
#footer-logo-twitter{
	width: 32px;
	height: 32px;
	border-radius: 3px;
	background-color: rgba(0, 121, 176, 0.5);
	position: absolute;
	left: 1056px;
	top: 8px;
	z-index: 3;
}
#footer-logo-twitter1{
	width: 23px;
	height: 19px;
	position: absolute;
	left: 1062px;
	top: 15px;
	background-image: url("assets/logo.png");
	z-index: 5;
}
#footer-copy1{
	width: 47px;
	height: 9px;
	position: absolute;
	left: 625px;
	top: 11px;
	background-image: url("assets/Layer_22_copy.png");
background-repeat: no-repeat;
}
#footer-copy
{
	width: 194px;
	height: 15px;
	position: absolute;
	left: 558px;
	top: 25px;
	background-image: url("assets/Layer_19.png");
background-repeat: no-repeat;
}
hr{
	border-color:rgba(207, 204, 193, 0.1); 
}
